.btn-box {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.pm-button {
  line-height: 20px;
  font-size: 20px;
  display: block;
  width: 43px;
  border: none;
}

.pm-button:focus {
  outline: 0 !important;
}

.plus-button {
  background-color: #a6ff4d;
}

.minus-button {
  background-color: #ff9999;
}

.def-btn {
  width: 90px;
  height: 40px;
  border-radius: 7px;
}
